/* The above code is a CSS stylesheet containing styles for various elements of a web page. Here is a
summary of what the code is doing: */
/* CSS solo para los estilos */

/* Estilos generales */
:root {
    font-size: 16px;
    /* Establecer tamaño base para rem */
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem;
    /* 10px */
    width: 100%;
}

h1 {
    text-align: center;
    flex-grow: 1;
}

#cambioTema {
    width: 90px;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}


.dropdown {
    flex-shrink: 0;
}

.header-container {
    max-height: 6.25rem;
    /* 100px */
    padding: 0 1.25rem;
    /* 20px */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 3.75rem;
    /* 60px */
}

h1,
h2 {
    margin: 0 0 0.0625rem;
    /* 1px */
    text-align: center;
}

h1 {
    font-size: 3.125rem;
    /* 50px */
    padding-top: 1.25rem;
    /* 20px */
}

/* Contenedores */
.login-container,
.registro-container,
.juego-container,
.modificar-datos-container,
.estadisticas-container {
    max-width: 50rem;
    /* 800px */
    margin: 3.125rem auto;
    /* 50px */
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    /* 8px */
    background-color: #f9f9f9;
    padding: 1rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem;
    /* 10px */
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #ddd;
    background-color: #fff;
    box-sizing: border-box;
}

footer p {
    margin: 0;
    font-size: 0.875rem;
    /* 14px */
}

/* Formularios */
form {
    display: grid;
}

.apuesta-form {
    display: grid;
    margin-bottom: 0.9375rem;
    /* 15px */
}

.recarga-form {
    display: grid;
    margin-top: 0.9375rem;
    /* 15px */
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
    /* 5px */
}

label {
    font-size: 1rem;
    /* 16px */
}

input {
    padding: 0.5rem;
    /* 8px */
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    /* 4px */
    width: 100%;
    box-sizing: border-box;
}

.form-registro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    /* 20px */
}

.form-registro label {
    display: block;
    margin-bottom: 0.625rem;
    /* 10px */
    font-size: 1rem;
    /* 16px */
}

.form-registro input,
.form-registro select {
    width: 100%;
    padding: 0.5rem;
    /* 8px */
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    /* 4px */
}

.form-registro button {
    grid-column: span 2;
    padding: 0.625rem;
    /* 10px */
    cursor: pointer;
    border-radius: 0.25rem;
    /* 4px */
    text-align: center;
    font-size: 1rem;
    /* 16px */
}

#registro {
    display: grid;
    gap: 1.25rem;
    /* 20px */
}

button {
    padding: 0.625rem;
    /* 10px */
    margin-top: 0.375rem;
    /* 6px */
    border: none;
    cursor: pointer;
    border-radius: 0.25rem;
    /* 4px */
    text-align: center;
    font-size: 0.875rem;
    /* 14px */
}

/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.25rem;
    /* 20px */
    background-color: #fff;
    border-radius: 0.5rem;
    /* 8px */
    overflow: hidden;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    /* 2px */
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 0.75rem;
    /* 12px */
    text-align: center;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

/* Navegacion */
nav {
    text-align: center;
    margin-top: 1.25rem;
    /* 20px */
}

nav a {
    text-decoration: none;
    margin: 0 0.625rem;
    /* 10px */
    font-size: 1rem;
    /* 16px */
}

/* Otros elementos */
.dinero-disponible,
.instrucciones-descripcion {
    margin-bottom: 1.125rem;
    /* 18px */
    text-align: center;
}

.dinero-disponible {
    font-size: 1.25rem;
    /* 20px */
    font-weight: bold;
}

.instrucciones-descripcion {
    font-size: 0.9375rem;
    /* 15px */
}

/* Estilos para la pagina de estadisticas */
.estadisticas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.datos-jugador {
    margin-bottom: 1.25rem;
    /* 20px */
    padding: 1.25rem;
    /* 20px */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    /* 8px */
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    /* 2px */
}

.datos-jugador p {
    margin: 0.625rem 0;
    /* 10px */
    font-size: 1rem;
    /* 16px */
}

.estadisticas-container h2 {
    text-align: center;
    margin-bottom: 1.25rem;
    /* 20px */
}

.saldo-actual {
    margin-bottom: 1.25rem;
    /* 20px */
    font-size: 1.125rem;
    /* 18px */
    text-align: center;
}

#enlace {
    cursor: pointer;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

#enlace:hover {
    color: #007bff;
    text-decoration: underline;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .header-container {
        flex-direction: row;
        /* Mantener fila en pantallas pequeñas */
        align-items: center;
        /* Alinear elementos al centro */
    }

    .login-container,
    .registro-container,
    .juego-container,
    .modificar-datos-container,
    .estadisticas-container {
        padding: 1rem;
        /* Añadir padding a los contenedores en pantallas pequeñas */
        margin: 1rem;
        /* Añadir margen a los contenedores en pantallas pequeñas */
    }

    h1 {
        font-size: 1.875rem;
        /* Tamaño de fuente más pequeño */
        padding-top: 0.625rem;
        /* Ajustar el padding */
    }

    .form-registro {
        grid-template-columns: 1fr;
        /* Una columna en pantallas pequeñas */
    }

    footer {
        flex-direction: row;
        /* Mantener fila en pantallas pequeñas */
        align-items: center;
        /* Centrar elementos en el footer */
    }

    footer p {
        font-size: 0.75rem;
        /* Tamaño de fuente más pequeño en footer */
    }

    nav a {
        font-size: 0.875rem;
        /* Tamaño de fuente más pequeño para navegación */
    }

    .dinero-disponible {
        font-size: 1.125rem;
        /* Ajustar el tamaño de texto */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
        /* Tamaño de fuente más pequeño en móviles */
    }

    .header-container {
        padding: 0 0.625rem;
        /* Reducir el padding en pantallas pequeñas */
    }

    button {
        padding: 0.5rem;
        /* Ajustar el padding de los botones */
        font-size: 0.75rem;
        /* Ajustar tamaño de fuente de los botones */
    }
}

/* Estilos para la paginación */
.paginacion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

.paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.paginacion a {
    padding: 0.5rem 1rem;
    margin: 0 0.25rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    color: #007bff;
    transition: background-color 0.3s ease;
    font-size: 0.875rem;
}

.paginacion a:hover {
    background-color: #f0f0f0;
}

.paginacion .active {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
}

/* Estilos para el botón de salir */
.salir {
    display: flex;
    justify-content: center;
}

.salir .btn-salir {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.salir .btn-salir:hover {
    background-color: #0056b3;
}