body {
    background-color: #2c2c2c;
    color: #f4f4f4;
}

.container,
.login-container,
.register-container,
.game-container,
.report-container {
    background-color: #1c1c1c;
    color: #f4f4f4;
}

h1 {
    color: #66b3ff;
}

label {
    color: #ff66b2;
}

input[type="text"],
input[type="password"],
input[type="number"] {
    border: 1px solid #444;
    background-color: #333;
    color: #f4f4f4;
}

button {
    background-color: #3399ff;
    color: white;
}

button:hover {
    background-color: #007acc;
}

.error-message {
    background-color: #d8000c;
    color: #ffffff;
    border-left: 6px solid #a80000;
}

p {
    color: #ff4d4d;
}

p a {
    color: #66b3ff;
}

#botonNoche {
    background-color: #f4f4f4;
    color: #333;
}

#botonNoche:hover {
    background-color: #e0e0e0;
}

/* Estilos para el historial de jugadas */

table th {
    background-color: #333;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #2c2c2c;
}

table tr:hover {
    background-color: #3a3a3a;
}